// @import 'fonts';
// @import 'grid';
// @import 'meta';
// @import 'components';
// @import 'common';
// @import 'sections';
// @import 'modules';
// @import 'slider';

* {
	transition: .1s;
}