$orange: #F0A42B;

$xl-header-height: 144px;
$lg-header-height: 130px;
$md-header-height: 76px;
$xs-header-height: 48px;

$xl-main-section-height: 933px;
$lg-main-section-height: 698px;
$md-main-section-height: 516px;
$xs-main-section-height: 595px;