@import "common.scss";

#wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-grow: 0;
    height: $xl-header-height;
    box-shadow: 0px 0px 20px rgba($color: black, $alpha: .2);
    
    @include lg{
        height: $lg-header-height;  
    }
    @include md{
        height: $md-header-height;
    }
    @include xs{
        height: $xs-header-height;
    }


    .site-logo{
        width: 154px;
        height: 88px;
        margin-bottom: 15px;

        @include md{
            width: 97px;
            height: 55px;
        }
        @include xs{
            width: 51px;
            height: 29px;
        }
    }

    .button{
        border-radius: 12px;
        padding: 17px 51px;

        @include md{
            padding: 8px 35px;
            border-radius: 5px;
            font-size: .875rem;
        }
        @include xs{
            padding: 5.5px 30.5px;
            border-radius: 5px;
            font-size: .625rem;
        }
    }

    .container{
        justify-content: space-between;

        .header__actions{
            display: flex;
            align-items: center;
        }
    }
}

#footer{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    padding-bottom: 109px;
    .container{
        justify-content: center;
    }

    .footer__header{
        display: flex;
        align-items: center;
        min-height: 100px;
        background-color: $orange;
    }
    .navbar__ref{
        color: white;
    }

    .button{
        height: 58px;
        background-color: white;
        border-radius: 12px;
        margin-left: 165px;
        span{
            color: $orange;
        }
    }

    .footer__body{
        padding-top: 21px;

        .container{
            flex-direction: column;
        }
    }
    
    .footer__info{
        display: block;
        margin-top: 34px;
        font-size: "Montserrat";
        font-weight: 500;
        text-transform: uppercase;
    }

    .footer__contacts{
        margin-top: 72px;
        display: flex;
        justify-content: space-between;
    }

    .octen{
        width: 147px;
        height: 80px;
    }

    .rusit{
        display: flex;
        flex-direction: column;
        align-items: end;
        max-width: 151px;
        text-align: end;
        .icon{
            width: 151px;
            height: 36px;
            margin-bottom: 20px;
        }
    }
}

#main{
    position: relative;
    min-height: 500px;
    flex-grow: 1;
    overflow: hidden;
    
    background-image: url('../resources/images/background.svg');
    background-position: center 3%;
    background-repeat: no-repeat;
    background-size: cover;

    .container{
        flex-direction: column;
    }
}

#main-section{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include xl{
        margin: 0 -23px 0 -40px;
        padding: 164px 0 156px;
        min-height: $xl-main-section-height;
    }
    
    @include lg{
        padding: 133px 0 110px;
        min-height: $lg-main-section-height;
    }
    @include md{
        padding: 81px 0 42px;
        min-height: $md-main-section-height;
    }
    @include xs{
        padding: 39px 0 40px;
        min-height: $xs-main-section-height;
    }

}

#about-section{
    .content{
        margin-top: 72px;
        margin-bottom: 146px;
        //display: flex;
        //justify-content: space-between;

        .about-description{
            width: 100%;

            font-family: "Montserrat";
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 3.1875rem;

            @include xl{
                display: block;
                max-width: 470px;
            }
            .strong{
                font-size: 2rem;
                font-weight: bold;
            }
        }

        .about-video{
            float: right;
            margin-left: 16px;

            @include xl{
                margin-bottom: 44px;
                width: 1103px;
                height: 595px;
            }
            @include lg{
                margin-top: 16px;
                margin-bottom: 41px;
                width: 736px;
                height: 399px;
            }
        }

        .button{
            float: right;
            padding: 17px 75px;
            border-radius: 12px;
            color: white;
            clear: both; 

            font-size: 1.25rem;
            @include xl{
                margin-right: 806px;
            }
            @include lg{
                margin-top: 16px;
            }
        }
    }
}

#products-section{
    margin: 108px 0 113px;

    .products-image-outer{
        position: relative;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100%;
        height: 770px;
        background-image: url('../resources/images/splashing-oil.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;

        .products-image-inner{
            position: absolute;
            bottom: -10.5%;
            max-width: 705px;
            width: 100%;
            height: 703px;
            background-image: url('../resources/images/oil-bottles.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }
    }

    .button{
        margin: 163px auto 0;
        padding: 19.5px 71px 19px 70px;
        border-radius: 12px;
        color: white;
    }

    .products{
        margin-top: 158px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

#contacts-section{
    background-image: url('../resources/images/bg-contacts.png');
    background-repeat: no-repeat;
    background-size: cover;

    .container{
        flex-direction: column;
        align-items: start;
        
        padding-top: 85px;
        padding-bottom: 114px;

        color: white;

        .contacts-header{
            margin-bottom: 48px;
            .contacts-title{
                margin-bottom: 21px;
                font-weight: bold;
                font-size: 64px;
            }

            .contacts-subtitle{
                margin-bottom: 21px;
                font-weight: 500;
                font-size: 32px;

            }

            &::after{
                content: "";
                display: block;
                width: 100%;
                height: 3px;
                background-color: $orange;
            }
        }    

        .contacts-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
        
        .button{
            padding: 34px 100px 37px;
            border-radius: 20px;
            color: white;
            font-size: 1.25rem;
        }

        #terms{
            margin-top: 32px;
            
            @include lg{
                margin-top: 28px;
            }
            @include md{
                margin-top: 22px;
            }
            @include xs{
                margin-top: 15px;
            }
        }
    }
}