// @font-face {
// 	font-family: 'Kharkiv-Tone';
// 	src: url('/resources/fonts/Kharkiv-Tone.ttf') format('truetype');
// }
@font-face {
 	font-family: 'Inter';
 	src: url('/resources/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	src: url('/resources/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}