/*
$xl-grid: 1592px; // 1598px
$lg-grid: 1220px; // 1340px
$md-grid: 676px; // 768px
$xs-grid: 260px; // 320px

$xl: $xl-grid + 328px; // to 1920px
$lg: $lg-grid + 120px; // to 1340px
$md: $md-grid + 92px; // to 768px
$xs: $xs-grid + 60px; // to 320px
*/

$xl-grid: 1592px; // 1598px
$lg-grid: 1220px; // 1340px
$md-grid: 676px; // 768px
$xs-grid: 260px; // 320px

$xl-padding: 164px;
$lg-padding: 60px;
$md-padding: 46px;
$xs-padding: 30px; 

$xl: $xl-grid + 328px; // to 1920px
$lg: $lg-grid + 120px; // to 1340px
$md: $md-grid + 92px; // to 768px
$xs: $xs-grid + 60px; // to 320px

@mixin media-base($min, $max) {
	@media only screen
		and (min-width: $min)
		and (max-width: calc($max - .2px)) {

		@content;
	}
}

@mixin xl {
	@media only screen and (min-width: $xl) {
		@content;
	}
}

@mixin lg {
	@include media-base($lg, $xl) {
		@content;
	}
}

@mixin md {
	@include media-base($md, $lg) {
		@content;
	}
}

@mixin xs {
	@include media-base(0px, $md) {
		@content;
	}
}

.container {
	margin: 0 auto;
	display: flex;

	@include xl {
		width: $xl-grid;
	}

	@include lg {
		width: $lg-grid;
		/*
		width: 100%;
		padding: 0 $lg-padding;
		*/
	}

	@include md {
		width: $md-grid;
		/*
		width: 100%;
		padding: 0 $md-padding;
		*/
	}
	@include xs {
		//width: $xs-grid;
		///*
		width: 100%;
		padding: 0 $xs-padding;
		//*/
	}
}
