$fix: 40px;

$xl-grid: 1589px;
$lg-grid: 1300px;
$md-grid: 728px;
$xxs-grid: 2800px;

$xl: $xl-grid + $fix;
$lg: $lg-grid + $fix;
$md: $md-grid + $fix;
$xxs: $xxs-grid + $fix;

@mixin media-base($min, $max) {

	@media only screen
		and (min-width: $min)
		and (max-width: calc($max - .2px)) {

		@content;

	}
}

@mixin xl {
	@media only screen and (min-width: $xl) {
		@content;
	}
}

@mixin lg {
	@include media-base($lg, $xl) {
		@content;
	}
}

@mixin md {
	@include media-base($md, $lg) {
		@content;
	}
}

@mixin xxs {
	@include media-base(0px, $md) {
		@content;
	}
}

/**/

@mixin more-than-sm {
	@media only screen and (min-width: $md) {
		@content;
	}
}

@mixin sm-and-less {
	@media only screen and (max-width: calc($md - .2px)) {
		@content;
	}
}

.container {
	margin: 0 auto;
	display: flex;

	@include xl {
		width: $xl-grid;
	}

	@include lg {
		width: $lg-grid;
	}

	@include md {
		width: $md-grid;
	}

	@include xxs {
		width: $xxs-grid;
	}
}
