$imgPath: '/resources/images/';

// :root {
	// --back-color: #111;
	// --accent-color: #FB3B11;
	// --accent-color-soft: #FB3B114D;
	// --dark-color: #161615;
	// --grey-color: #383838;
	// --light-grey-color: #8B8B8B;
	// --light-color: #F1F1F1;
	// --silver-gradient: linear-gradient(140deg, #323232 0%, #F3F3F3 100%);
	// --carbon-gradient: linear-gradient(180deg, #1C1C1C 0%, #111 50.00%);
	// --text-color: var(--light-color);

	// --silver-line: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 52.60%, rgba(217, 217, 217, 0.00) 99.99%);

	// --accent-font: 'Kharkiv-Tone', 'roboto', 'arial';
	// --main-font: 'Inter', 'roboto', 'arial';

	// --header-height: 68px;

	// --page-top-margin: 4rem;

	// @include sm {
	// 	--header-height: 60px;
	// }
	// @include xs {
	// 	--header-height: 60px;
	// }
// }

*,
*::before,
*::after {
	border: initial;
	box-sizing: border-box;
	color: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
}

// ::selection {
// 	background-color: #9c9da057;
// }