.navbar{
    display: flex;
    align-items: center;

    @include md{
        display: none;
    }
    @include xs{
        display: none;
    }

    .navbar__list{
        display: flex;
        list-style: none;
        padding: 0 29px;

        .navbar__list-item{
            margin-right: 82px;

            @include lg{
                margin-right: 40px;
            }

            &:last-child{
                margin-right: 0;
            }

            .navbar__ref{
                font-family: "Montserrat";
                font-weight: 600;
                font-size: 1.125rem; // 18px
                text-decoration: none;
                color: black;
            }  
        }
    }
}

#burger{
    margin-left: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

    @include lg{
        display: none;
    }
    @include xl{
        display: none;
    }

    i{
        display: block;
        width: 31px;
        height: 4px;
        background-color: #000;
        border-radius: 2px;
        margin: 4.5px 0;
    }
}

.footer-contact{
    display: flex;
    max-width: 360px;


    @include md{
        margin-bottom: 42px;
        flex-direction: column;
        align-items: center;
    }
    @include xs{
        margin-bottom: 34px;
        flex-direction: column;
        align-items: center;
    }

    .image{
        width: 55px;
        height: 55px;
        @include md{
            width: 41px;
            height: 41px;
        }
        @include xs{
            width: 41px;
            height: 41px;
        }
    }

    .info{
        font-size: 1rem;
        @include xl{
            margin-left: 29px;
        }
        @include lg{
            margin-left: 29px;
        }
        @include md{
            margin-top: 30px;
            text-align: center;
            font-size: .875rem;
        }
        @include xs{
            margin-top: 30px;
            text-align: center;
            font-size: .75rem;
        }

        .title{
            margin-bottom: 22px;
            font-weight: bold;
            @include md{
                margin-bottom: 16px;
            }
            @include xs{
                margin-bottom: 14px;
            }
        }
        .description{
            font-weight: 500;
        }
    }
}

.big-logo{
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;

    @include xl{
        width: 563px;
        height: 423px;
        padding: 5px 31px 12px;
    }
    @include lg{
        width: 458px;
        height: 363px;
        padding-top: 5px;
    }
    @include md{
        align-items: baseline;
    }
    @include xs{
        align-items: center;
        right: 0;
        top: 39px;
    }

    .big-logo__logo{
        @include xl{
            width: 375px;
            margin: 0 auto 47px;
        }
        @include lg{
            width: 308px;
            margin: 0 auto 39px;
        }
        @include md{
            width: 183px;
            margin-bottom: 14px;
        }
        @include xs{
            width: 183px;
            margin-bottom: 17px;
        }
    }

    .big-logo__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include md{
            align-items: baseline;
        }

        &::before{
            content: "";
            display: block;
            height: 3px;
            width: 100%;
            margin-bottom: 25px;
            background-color: $orange;
            @include md{
                width: 241px;
                margin-bottom: 15px;
            }
            @include xs{
                width: 241px;
                margin-bottom: 17px;
            }
        }

        .big-logo__title{
            margin-bottom: 21px;
            font-family: "Montserrat";
            font-weight: 800;
            font-size: 3rem;

            @include md{
                margin-bottom: 15px;
                font-size: 2.25rem;
            }
            @include xs{
                margin-bottom: 17px;
                font-size: 2rem;
            }
        }
        .big-logo__subtitle{
            font-family: "Montserrat";
            font-weight: 800;
            font-size: 2rem;
            margin: 0 -30px;

            @include md{
                font-size: 1.25rem;
            }
            @include xs{
                font-size: 1rem;
            }
        }
    }
}

.main-image-outer{
    position: absolute;
    left: 34.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1084px;
    width: 100%;
    height: 610px;
    background-image: url('../resources/images/oil.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include lg{
        max-width: 808px;
    }
    @include md{
        max-width: 699px;
    }
    @include xs{
        //max-width: 437px;
        width: 150%;
        height: 246px;

        margin: auto auto 0;
        left: -25%;
        right: 0;
        top: 0;
        bottom: 40px;
    }

    .main-image-inner{
        max-width: 730px;
        width: 100%;
        height: 410px;
        background-image: url('../resources/images/engine.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include lg{
            max-width: 544px;
        }
        @include md{
            max-width: 383px;
        }
        @include xs{
            max-width: 239px;
        }
    }
}

.products-image{
    position: relative;
    display: flex;
    align-items: end;
    @include xl{
        margin-top: 15px; //108px;
        margin-bottom: 139px;
    }
    @include lg{
        margin-top: 61px; // 88px;
        margin-bottom: 88px;
    }
    @include md{
        margin-top: 20px; //68px;
        margin-bottom: 39px;
        height: 367px;
    }
    @include xs{
        margin-top: 29px; //59px;
        margin-bottom: 54px;
        height: 223px;
    }
    .products-image-outer{
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100%;
        background-image: url('../resources/images/splashing-oil.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;

        @include xl{
            height: 770px;
        }
        @include lg{
            height: 445px;
        }
        @include md{
            height: 309px;
            margin-bottom: 20px;
        }
        @include xs{
            height: 144px;
        }


        .products-image-inner{
            position: absolute;
            bottom: -10.5%;
            max-width: 705px;
            //width: 100%;
            background-image: url('../resources/images/oil-bottles.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            @include xl{
                width: calc(619px + 257px);
                height: calc(701px + 159px);
            }
            @include lg{
                width: 497px;
                height: 496px;
            }
            @include md{
                width: 350px;
                height: 367px;
            }
            @include xs{
                bottom: -10.5%;

                width: 236px;
                height: 223px;
            }

        }
    }
}

.horizontal{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background-color: #c5c5c5;
}

.section-title{
    display: flex;
    justify-content: center;
    align-items: center;

    .section-title-text{
        width: auto;
        font-family: 'Montserrat';
        font-weight: bold;
        margin: 0;

        @include xl{
            font-size: 3rem;
        }
        @include lg{
            font-size: 2.5rem;
        }
        @include md{
            font-size: 2rem;
        }
        @include xs{
            font-size: 1.5rem;
        }

        &::after{
            content: "";
            display: block;
            margin-top: 12px;
            margin-left: -5%;
            margin-right: -5%;
            height: 3px;
            background-color: $orange;
            background-position: top top;
            background-size: contain;
            background-repeat: no-repeat;

            @include xs{
                margin-top: 7px;
            }
        }
    }
}

.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include xl{
        width: 378px;
        height: 400px;
    }
    @include lg{
        width: 289px;
        height: 306px;
    }
    @include md{
        width: 135px;
        height: 145px;
    }
    @include xs{
        max-width: 135px;
        height: 142px;
        width: 100%;
    }


    background-color: #fff;
    border: 5px solid #ACACAC;
    border-radius: 11.4%;

    text-decoration: none;
    color: black;

    .product-card__image{
        height: 45.7%;
        max-width: 70%;
        object-position: center;
        object-fit: contain;
        @include xl{
            margin-bottom: 35px;
        }
        @include lg{
            margin-bottom: 23px;
        }
        @include md{
            margin-bottom: 17px;
        }
        @include xs{
            margin-bottom: 19px;
        }
    }
    .product-card__title{
        min-height: 20%;
        max-width: 80%;
        font-family: "Montserrat";
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;

        @include xl{
            font-size: 1rem;
        }
        @include lg{
            font-size: 0.9375rem; // 15px
        }
        @include md{
            font-size: 0.4375rem; // 7px
        }
        @include xs{
            font-size: 0.4375rem; // 7px
        }
    }
}

.prime-input{
    width: 100%;
    border: 3px solid #D6D6D6;
    border-radius: 20px;
    outline: none;

    font-family: 'Montserrat';
    font-weight: 500;
    color: #000;

    @include base-font-sizing;

    @include xl{
        margin-right: 57px;
        padding: 35px 37px;
        max-width: 585px;
    }
    @include lg{
        margin-right: 39px;
        padding: 22px 27px 25px;
        max-width: 464px;
    }
    @include md{
        padding: 25px 40px 30px;

    }
    @include xs{
        padding: 12px 21px;
        border-radius: 10px;
    }

    &::placeholder {
        color: black;
        opacity: 1; /* Firefox */
      }
      
    &::-ms-input-placeholder { /* Edge 12 -18 */
        color: black;
      }
}

#terms{
    @include base-font-sizing;

    padding-left: 25px;
    position: relative;
    display: block;

    font-weight: 500;
    cursor: pointer;
    user-select: none;

    @include xl{
        margin-top: 32px;
    }
    @include lg{
        margin-top: 28px;
    }
    @include md{
        margin-bottom: 29px;
    }
    @include xs{
        margin-bottom: 19px;
    }

    a{
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        &:hover{
            text-decoration: underline;
        }
    }

    .checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    .checkmark {
        position: absolute;
        top: 50%;
        left: 0;
        height: 14px;
        width: 14px;
        transform: translateY(-50%);
        background-color: transparent;
        border: 1px solid #fff;
    }
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    .checkbox:checked ~ .checkmark:after {
        display: block;
    }
  
    .checkmark:after {
        left: 3px;
        top: .5px;
        width: 3px;
        height: 6px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.row{
    display: flex;
    flex-direction: row;
}

.to-top{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #000;
    background-image: url('../resources/images/arrow-top.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 52%;

    @include md{
        width: 40px;
        height: 40px;
        background-color: $orange;
        border-color: white;
    }
    @include xs{
        display: none;
    }

    &:hover{
        animation: 1.5s infinite jump;
    }
}