.navbar{
    display: flex;
    align-items: center;

    @include md{
        display: none;
    }
    @include xs{
        display: none;
    }

    .navbar__list{
        display: flex;
        list-style: none;
        padding: 0 29px;

        .navbar__list-item{
            margin-right: 82px;

            @include lg{
                margin-right: 40px;
            }

            &:last-child{
                margin-right: 0;
            }

            .navbar__ref{
                font-family: "Montserrat";
                font-weight: 600;
                font-size: 1.125rem; // 18px
                text-decoration: none;
                color: black;
            }  
        }
    }
}

#burger{
    margin-left: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

    @include lg{
        display: none;
    }
    @include xl{
        display: none;
    }

    i{
        display: block;
        width: 31px;
        height: 4px;
        background-color: #000;
        border-radius: 2px;
        margin: 4.5px 0;
    }
}

.button{
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: $orange;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    transition: all .3s ease;

    font-family: 'Inter', sans-serif!important;
    font-size: 1.125rem;
    font-weight: bold;
    color: white;
}

.footer-contact{
    display: flex;
    max-width: 360px;

    .image{
        width: 55px;
        height: 55px;
    }

    .info{
        margin-left: 29px;
        font-size: 16px;
        

        .title{
            margin-bottom: 20px;
            font-family: 'Montserrat';
            font-weight: bold;
        }
        .description{
            font-family: 'Montserrat';
            font-weight: 500;
        }
    }
}

.big-logo{
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;

    @include xl{
        width: 563px;
        height: 423px;
        padding: 5px 31px 12px;
    }
    @include lg{
        width: 458px;
        height: 363px;
        padding-top: 5px;
    }
    @include md{
        align-items: baseline;
    }
    @include xs{
        align-items: center;
        right: 0;
        top: 39px;
    }

    .big-logo__logo{
        @include xl{
            width: 375px;
            margin: 0 auto 47px;
        }
        @include lg{
            width: 308px;
            margin: 0 auto 39px;
        }
        @include md{
            width: 183px;
            margin-bottom: 14px;
        }
        @include xs{
            width: 183px;
            margin-bottom: 17px;
        }
    }

    .big-logo__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include md{
            align-items: baseline;
        }

        &::before{
            content: "";
            display: block;
            height: 3px;
            width: 100%;
            margin-bottom: 25px;
            background-color: $orange;
            @include md{
                width: 241px;
                margin-bottom: 15px;
            }
            @include xs{
                width: 241px;
                margin-bottom: 17px;
            }
        }

        .big-logo__title{
            margin-bottom: 21px;
            font-family: "Montserrat";
            font-weight: 800;
            font-size: 3rem;

            @include md{
                margin-bottom: 15px;
                font-size: 2.25rem;
            }
            @include xs{
                margin-bottom: 17px;
                font-size: 2rem;
            }
        }
        .big-logo__subtitle{
            font-family: "Montserrat";
            font-weight: 800;
            font-size: 2rem;
            margin: 0 -30px;

            @include md{
                font-size: 1.25rem;
            }
            @include xs{
                font-size: 1rem;
            }
        }
    }
}

.main-image-outer{
    position: absolute;
    left: 34.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1084px;
    width: 100%;
    height: 610px;
    background-image: url('../resources/images/oil.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include lg{
        max-width: 808px;
    }
    @include md{
        max-width: 699px;
    }
    @include xs{
        //max-width: 437px;
        width: 150%;
        height: 246px;

        margin: auto auto 0;
        left: -25%;
        right: 0;
        top: 0;
        bottom: 40px;
    }

    .main-image-inner{
        max-width: 730px;
        width: 100%;
        height: 410px;
        background-image: url('../resources/images/engine.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include lg{
            max-width: 544px;
        }
        @include md{
            max-width: 383px;
        }
        @include xs{
            max-width: 239px;
        }
    }
}

.horizontal{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background-color: #c5c5c5;
}

.section-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;

    .section-title{
        width: auto;
        font-size: 3rem;
        font-family: 'Montserrat';
        font-weight: bold;
        margin: 0;

        &::after{
            content: "";
            display: block;
            margin: 7px -5% 0;
            width: 110%;
            height: 3px;
            background-color: $orange;
            background-position: top top;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;

    width: 378px;
    height: 400px;

    background-color: #fff;
    border: 5px solid #ACACAC;
    border-radius: 11.4%;

    text-decoration: none;
    color: black;

    .product-card__image{
        max-width: 70%;
        max-height: 30%;
        margin-bottom: 35px;
    }
    .product-card__title{
        max-width: 80%;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
    }
}

.prime-input{
    max-width: 585px;
    width: 100%;
    margin-right: 57px;
    padding: 28px 37px;
    border: 3px solid #D6D6D6;
    border-radius: 20px;
    outline: none;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.125rem;
    color: #000;

    &::placeholder {
        color: black;
        opacity: 1; /* Firefox */
      }
      
    &::-ms-input-placeholder { /* Edge 12 -18 */
        color: black;
      }
}

#terms{
    padding-left: 25px;
    position: relative;

    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
    user-select: none;

    a{
        font-weight: bold;
        text-decoration: none;
        color: #fff;
    }

    .checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    .checkmark {
        position: absolute;
        top: 50%;
        left: 0;
        height: 14px;
        width: 14px;
        transform: translateY(-50%);
        background-color: transparent;
        border: 1px solid #fff;
    }
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    .checkbox:checked ~ .checkmark:after {
        display: block;
    }
  
    .checkmark:after {
        left: 3px;
        top: .5px;
        width: 3px;
        height: 6px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.row{
    display: flex;
    flex-direction: row;
}