@mixin flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

// main page:

#main-section{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include xl{
        margin: 0 -23px 0 -40px;
        padding: 164px 0 156px;
        min-height: $xl-main-section-height;
    }
    
    @include lg{
        padding: 133px 0 110px;
        min-height: $lg-main-section-height;
    }
    @include md{
        padding: 81px 0 42px;
        min-height: $md-main-section-height;
    }
    @include xs{
        padding: 39px 0 40px;
        min-height: $xs-main-section-height;
    }

}

#about-section{
    position: relative;

    @include flex-column;

    @include xl{
        padding-top: 72px;
        padding-bottom: 163px;
    }
    @include lg{
        padding-top: 60px;
        padding-bottom: 133px;
    }
    @include md{
        padding-top: 47px;
        padding-bottom: 148px;
    }
    @include xs{
        padding-top: 39px;
        padding-bottom: 134px;
    }

    .section-title{
        @include xl{
            margin-bottom: 72px;
        }
        @include lg{
            margin-bottom: 60px;
        }
        @include md{
            margin-bottom: 47px;
        }
        @include xs{
            margin-bottom: 26px;
        }
    }

    .about-description{
        width: 100%;
        margin-top: 60px;
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 3.1875rem;
        margin-bottom: 0;

        @include xl{
            display: block;
            max-width: 470px;
        }
        @include md{
            margin-top: 47px;
            font-size: .875rem;
            line-height: 1.5625rem; // 25px
            text-align: justify;
        }
        @include xs{
            margin-top: 26px;
            font-size: .75rem;
            line-height: 1.5625rem; // 25px
            text-align: center;
        }
        .strong{
            font-weight: bold;
            @include xl{
                font-size: 2rem;
            }
            @include lg{
                font-size: 2rem;
            }
        }
    }

    .about-video{
        float: right;

        @include xl{
            margin-left: 16px;
            margin-bottom: 44px;
            width: 1103px;
            height: 595px;
        }
        @include lg{
            margin-top: 16px;
            margin-bottom: 41px;
            margin-left: 16px;
            width: 736px;
            height: 399px;
        }
        @include md{
            width: 100%;
            height: 358px;
            margin-bottom: 31px;
        }
        @include xs{
            width: 100%;
            margin-bottom: 13px;
        }
    }

    .button-more{
        float: right;
        clear: both; 

        @include xl{
            margin-right: 806px;
        }
        @include lg{
            margin-top: 16px;
        }
        @include md{
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 82.5px;
        }
        @include xs{
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 70px;
        }
    }
}

#products-section{
    .button-more{
        margin: 0px auto 0;
        //padding: 19.5px 71px 19px 70px;
    }

    .products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @include xl{
            margin: 158px 0;
            grid-gap: 44px 30px;
        }
        @include lg{
            margin: 113px 0 61px;
            grid-gap: 18px 22px;
        }
        @include md{
            margin: 80px 0 66px;
            grid-gap: 23px 45px;
        }

        @include xs{
            margin: 104px 0 107px;
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px 29px;
        }
    }
}

#contacts-section{
    background-image: url('../resources/images/bg-contacts.png');
    background-repeat: no-repeat;
    background-size: cover;

    .container{
        @include flex-column;
        color: white;

        @include xl{
            padding-top: 85px;
            padding-bottom: 114px;
        }
        @include lg{
            padding-top: 33px;
            padding-bottom: 64px;
        }
        @include md{
            padding-top: 33px;
            padding-bottom: 31px;
        }
        @include xs{
            padding-top: 20px;
            padding-bottom: 17px;
        }

        .contacts-header{
            @include xl{
                margin-bottom: 48px;
            }            
            @include lg{
                margin-bottom: 34px;
            }            
            @include md{
                margin-bottom: 34px;
            }            
            @include xs{
                margin-bottom: 19px;
                width: 100%;
            }

            .contacts-title{
                font-weight: bold;
                
                @include xl{
                    margin-bottom: 21px;
                    font-size: 4rem;
                }
                @include lg{
                    margin-bottom: 10px;
                    font-size: 2.25rem;
                }
                @include md{
                    margin-bottom: 10px;
                    font-size: 2.25rem;
                }
                @include xs{
                    margin-bottom: 8px;
                    font-size: 1.5rem;
                }
            }

            .contacts-subtitle{
                font-weight: 500;

                @include xl{
                    margin-bottom: 21px;
                    font-size: 2rem;
                }
                @include lg{
                    margin-bottom: 9px;
                    font-size: 1.25rem;
                }
                @include md{
                    margin-bottom: 9px;
                    font-size: 1.25rem;
                }
                @include xs{
                    margin-bottom: 6px;
                    font-size: .6875rem; // 11px
                }
            }

            &::after{
                content: "";
                display: block;
                width: 100%;
                height: 3px;
                background-color: $orange;
            }
        }    

        .contacts-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .row{
                @include md{
                    flex-direction: column;
                }
                @include xs{
                    flex-direction: column;
                }
            }

            .prime-input{
                @include md{
                    margin-bottom: 22px;
                }
                @include xs{
                    margin-bottom: 16px;
                }
            }
        }

        .button-send{
            height: fit-content;
            @include xl{
                margin-top: -96px;
                margin-left: auto;
            }
            @include lg{ 
                margin-top: -69px;
                margin-left: auto;
            }
        }
    }
}


// about page:

#common-section{
    position: relative;

    @include flex-column;

    @include xl{
        margin-top: 72px;
        margin-bottom: 174px;
    }
    @include lg{
        margin-top: 60px;
        margin-bottom: 81px;
    }
    @include md{
        margin-top: 47px;
        margin-bottom: 71px;
    }
    @include xs{
        margin-top: 39px;
        margin-bottom: 36px;
    }

    .section-title{
        @include xl{
            margin-bottom: 79px;
        }
        @include lg{
            margin-bottom: 65px;
        }
        @include md{
            margin-bottom: 47px;
        }
        @include xs{
            margin-bottom: 26px;
        }

        .section-title__title{
            @include xl{
                font-size: 4rem;
            }
            @include lg{
                font-size: 4rem;
            }
        }
    }

    .about-video{
        float: none;
        margin: 0;
        width: 100%;

        @include xl{
            height: 669px;
        }
        @include lg{
            height: 516px;
        }
        @include md{
            height: 358px;
        }
        @include xs{
            max-width: 360px; 
            height: 158px;
        }
    }

}

#stats-section{
    @include flex-column;

    @include xl{
        margin-bottom: 262px;
    }
    @include lg{
        margin-bottom: 203px;
    }
    @include md{
        margin-bottom: 113px;
    }
    @include xs{
        margin-bottom: 43px;
    }

    .section-subtitle{
        @include xl{
            margin-bottom: 152px;
        }
        @include lg{
            margin-bottom: 119px;
        }
        @include md{
            margin-bottom: 72px;
        }
        @include xs{
            margin-bottom: 19px;
        }
    }

    .stats{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include xs{
            margin: 0 -10% 43px;
            width: 120%;
            max-width: 479px;
            justify-content: center;
        }

        .stat-card{
            @include xs{
                margin-right: 10px;
                margin-left: 10px;
                margin-top: 17px;
            }
        }
    }
}

#missions-section{
    @include xl{
        margin-bottom: 102px;
    }
    @include lg{
        margin-bottom: 104px;
    }
    @include md{
        margin-bottom: 77px;
    }
    @include xs{
        margin-bottom: 32px;
    }

    .paragraph:last-child{
        margin-bottom: 0;
    }

    .diploma{
        float: right;
        @include xl{
            margin: 11px 0 54px 127px;
            width: 551px;
        }
        @include lg{
            margin: 0px 0 19px 33px;
            width: 488px;
        }
        @include md{
            margin: 3px 0 23px 25px;
            width: 235px;
        }
        @include xs{
            margin: -16px 0 3px 11px;
            width: 149px;
        }
    }
}

#abvantages-section{
    width: 100%;
    @include xl{
        margin-bottom: 138px;
    }
    @include lg{
        margin-bottom: 94px;
    }
    @include md{
        margin-bottom: 42px;
    }
    @include xs{
        display: flex;
        flex-direction: column;

        margin-bottom: 37px;
    }

    .section-title{
        @include xl{
            margin-right: 370px;
            float: right;
            align-items: baseline;

            &::after{
                width: 114.4%;
            }
        }
        @include lg{
            margin-right: 133px;
            float: right;
            align-items: baseline;

            &::after{
                width: 88.4%;
            }
        }
        @include md{
            margin-bottom: 46px;
        }
        @include xs{
            margin-bottom: 26px;
            align-self: center;
        }

    }

    #workflow-images{
        display: flex;
        flex-direction: column;
        flex-grow: 0;


        @include xl{
            width: 613px;
        }
        @include lg{
            width: 485px;
        }
        @include md{
            width: 279px;
        }
        @include xs{
            height: 56px;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            height: 15.55vw;

        }

        .workflow-image{
            min-height: 55px;
            height: 15.55vw;
        }
    }

    #abvantages{
        display: flex;
        align-items: baseline;
        flex-grow: 1;

        float: right;
        clear: both;

        @include xl{
            margin-top: 127px;
        }
        @include lg{
            margin-top: 99px;
        }
        @include md{
            margin-top: 43px;
        }
        @include xs{
            margin-top: 26px;
            float: left;
            order: 1;

        }

        .numbered-list{
            @include xl{
                max-width: 882px;
            }
            @include lg{
                max-width: 659px;
            }
            @include md{
                max-width: 378px;
            }
            
        }

    }
}