extends ../../templates/common

block vars
	- const title = 'Сумки – категория'

block content
	.container.products-title
		h1.focus-title Сумки
	.container.products-grid.products-grid_super-wide
		a(href="")
			img(src=imgPath + "graphics/placeholder.svg", alt="Рюкзак")
			span Рюкзак
		a(href="")
			img(src=imgPath + "graphics/placeholder.svg", alt="Сумка")
			span Сумка
		a(href="")
			img(src=imgPath + "graphics/placeholder.svg", alt="Сумка через плечо")
			span Сумка через плечо
