extends ../../templates/common

block vars
	- const title = 'Головные уборы – категория'

block content
	.container.products-title
		h1.focus-title Головные уборы
	.container.products-grid.products-grid_super-wide
		a(href="")
			img(src=imgPath + "graphics/placeholder.svg", alt="Шапка зимняя")
			span Шапка зимняя
		a(href="")
			img(src=imgPath + "graphics/placeholder.svg", alt="Кепка летняя")
			span Кепка летняя
		a(href="")
			img(src=imgPath + "graphics/placeholder.svg", alt="Шапка")
			span Шапка
