extends ../../templates/common

block vars
	- const title = 'Сувениры клуба – категория'

block content
	.container.products-title
		h1.focus-title Сувениры клуба
	.container.products-grid.products-grid_super-wide
		a(href="")
			img(src=imgPath + "graphics/placeholder.svg", alt="Вымпел")
			span Вымпел
		a(href="")
			img(src=imgPath + "graphics/placeholder.svg", alt="Кружка")
			span Кружка
		a(href="")
			img(src=imgPath + "graphics/placeholder.svg", alt="Брелки")
			span Брелки
