extends ../../templates/common

block vars
	- const title = 'Носки – категория'

block content
	.container.products-title
		h1.focus-title Носки
	.container.products-grid.products-grid_super-wide
		a(href="")
			img(src=imgPath + "graphics/placeholder.svg", alt="Носки")
			span Носки 1
		a(href="")
			img(src=imgPath + "graphics/placeholder.svg", alt="Носки")
			span Носки 2
		a(href="")
			img(src=imgPath + "graphics/placeholder.svg", alt="Носки")
			span Носки 3
