extends ../templates/simply

block vars
	- const title = 'Страница не найдена'

block content
	div.not-found
		div.not-found__text
			h1 404 Cтраница не&nbsp;найдена
			p Похоже эта страница не&nbsp;работает :(
		a(href="/").btn.btn_primary
			span На главную