extends ../templates/main

block vars
	- const title = ''
	- const description = ''
	- const keywords = ''

block content
	.main-wrapper
		.container
			section#main-section
				include ../parts/big-logo
				.main-image-outer
					.main-image-inner

			.horizontal

			section#about-section
				- var sectionTitle = {title: "О компании"}
				include ../parts/section-title
				.content
					//-video(width="100%" height="100%" controls="controls").about-video
					include ../parts/video
					.button-more Узнать больше
					p.about-description 
						| Мы предлагаем заказчикам широкий ассортимент первоклассной продукции от мировых 
						| производителей. Подбор, поставки, консультации в сфере смазок в различных отраслях 
						| промышленности. <strong class="strong">XIM</strong> поможет вам не запутаться в разнообразии всех минеральных и 
						| синтетических масел. Моторные масла, трансмиссионные и редукторные масла, 
						| гидравлические масла и многое другое — это наша специальность!
						
		section#products-section
			-var sectionTitle= {title: "Наша продукция"}
			include ../parts/section-title
			.products-section__image
				#front-image
					#back-image
			.button-more Узнать больше

			.container
				.products
					- 
						cards = [
							{title: 'Масла для легковых автомобилей', src: 'car.png'},
							{title: 'Масла для коммерческой техники', src: 'track.png'},
							{title: 'Масла индустриальные гост', src: 'plant.png'},
							{title: 'Масла гидравлические', src: 'excavator.png'},
							{title: 'Стекломывающая жикость', src: 'windglass.png'},
							{title: 'Масла для малоразмерной техники', src: 'moto.png'},
							{title: 'Масло ГУР', src: 'rudder.png'},
							{title: 'Охлаждающие жидкости', src: 'coolant.png'},
						]
					- for (var card of cards)
						include ../parts/product-card

	section#contacts-section
		.container
			.contacts-header
				.contacts-title Напиши нам
				.contacts-subtitle Мы свяжемся с Вами в самое ближайшее время
			form.contacts-form
				.row
					input(type="text" placeholder="Как к Вам обращаться?" required).prime-input
					input(
						type="tel" 
						placeholder="Телефон*"  
						pattern='[\+]\d[\(]\d{3}[\)]\d{3}[\-]\d{2}[\-]\d{2}' 
						title='Формат +7(999)999-99-99'
						required).prime-input
				.row
					label#terms Ознакомлен(а) с <a href="/" id="terms-ref">пользовательским соглашением</a>
						input(type="checkbox").checkbox
						span(class="checkmark").checkmark
					button(type="submit").button-send Отправить

	
