.burger-menu#burger-menu
	| Бургер
	//- ul.burger-menu__nav
	//- 	li
	//- 		a(href="/one.html")
	//- 			span Ссылка 1
	//- 	li
	//- 		a(href="/two.html")
	//- 			span Ссылка 2
	//- .burger-menu__tel
	//- 	include ../modules/tel
	
	//- ul.burger-menu__social
	//- 	li
	//- 		a(href="")
	//- 			img(src=imgPath + "icons/whatsapp.svg", alt="")
	//- 	li
	//- 		a(href="")
	//- 			img(src=imgPath + "icons/telegram.svg", alt="")
	//- 	li
	//- 		a(href="")
	//- 			img(src=imgPath + "icons/email.svg", alt="")