header#header
	- const logoSrc = '/resources/images/XIM-01.png'

	
	.container
		a.header__logo(href="/")
			img(src=imgPath + "XIM-01.png" alt='logo').site-logo

		include navbar.pug

		.header__actions 
			button.button
				span Стать партнёром

	//- a.header__logo(href="/")
	//- 	img.site-logo(src=imgPath + "logo.svg")
	//- nav.header__nav
	//- 	ul
	//- 		li
	//- 			a(href="/categories.html").header__link
	//- 				span Экипировка
	//- 		li
	//- 			a(href="/gallery.html").header__link
	//- 				span Повседневная одежда
	//- div.header__actions
	//- 	.tel
	//- 		include ../modules/tel
	//- div.header__burger
	//- 	include ./burger