-		
    var navrefs = [
        {title: "Главная", ref: '/'},
        {title: "О компании", ref: '/about.html'},
        {title: "Каталог", ref: '/'},
        {title: "Где купить", ref: '/'},
        {title: "Контакты", ref: '/'},
    ]
    
nav.navbar
    ul.navbar__list
        each ref in navrefs
            li.navbar__list-item
                a(href=ref.ref).navbar__ref
                    span #{ref.title}